# Copy this to .env and fill in your values
# Never commit .env to Git

POSTGRES_USER=sandboxuser
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_DB=sandboxdb
POSTGRES_HOST=100.73.149.63
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@sandbox.local
PGADMIN_PASSWORD=your_pgadmin_password_here
